<mat-card>
    <mat-card-title>Deletar Conta Pessoa Física</mat-card-title>
    <mat-card-subtitle class="subtitle">
        Revise os campos e confirme se realmente deseja deletar.
        </mat-card-subtitle>
    <form>
        <mat-form-field>
            <input matInput [value]="userAccount.userName" placeholder="Nome Completo" name="userName" disable>
        </mat-form-field>
        <mat-form-field>
            <input matInput [value]="userAccount.userPhone" placeholder="Telefone" name="userPhone" disable>
        </mat-form-field>
        <mat-form-field>
            <input matInput [value]="userAccount.userCpf" placeholder="CPF" name="userCpf" disable>
        </mat-form-field>
        <mat-form-field>
            <input matInput [value]="userAccount.userRg" placeholder="RG" name="userRg" disable>
        </mat-form-field>
        <mat-form-field>
            <input matInput [value]="userAccount.userEndereco" placeholder="Endereço Completo" name="userEndereco" disable>
        </mat-form-field>
        <mat-form-field>
            <select matNativeControl [value]="userAccount.userTipoConta" required name="userTipoConta" disable>
                <option value="Conta Corrente">Conta Corrente</option>
                <option value="Conta Poupança">Conta Poupança</option>

              </select>
        </mat-form-field>
        <mat-form-field>
            <input matInput [value]="userAccount.userEmail" placeholder="Email" name="userEmail" disable>
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="deleteUser()" class="buttons">
        <i class="material-icons">
            delete
        </i>
        Deletar Conta
        </button>
        <button mat-raised-button (click)="cancel()" class="buttons">
            <i class="material-icons">
                cancel
            </i>
            Cancelar
        </button>
</mat-card>