<mat-card>
    <mat-card-title>Cadastrar conta Pessoa Física</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput [(ngModel)]="userAccount.nome" placeholder="Nome Completo" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="userAccount.tel" placeholder="Telefone" name="tel">
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="userAccount.cpf" placeholder="CPF" name="cpf">
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="userAccount.rg" placeholder="RG" name="RG">
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="userAccount.end" placeholder="Endereço Completo" name="end">
        </mat-form-field>
        <mat-form-field>
            <select matNativeControl [(ngModel)]="userAccount.tipodeconta" required name="tipodeconta">
                <option value="Conta Corrente">Conta Corrente</option>
                <option value="Conta Poupança">Conta Poupança</option>

              </select>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="userAccount.email" placeholder="Email" name="email">
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="cadastrarUsuario()" class="buttons">
        <i class="material-icons">
            save
        </i>
        Cadastrar Conta
        </button>
        <button mat-raised-button (click)="cancel()" class="buttons">
            <i class="material-icons">
                cancel
            </i>
            Cancelar
        </button>
</mat-card>