<mat-card>
    <mat-card-title>Editar Conta</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput [(ngModel)]="userAccount.userName" placeholder="Nome Completo" name="userName">
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="userAccount.userPhone" placeholder="Telefone" name="userPhone">
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="userAccount.userCpf" placeholder="CPF" name="userCpf">
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="userAccount.userRg" placeholder="RG" name="userRg">
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="userAccount.userEndereco" placeholder="Endereço Completo" name="userEndereco">
        </mat-form-field>
        <mat-form-field>
            <select matNativeControl [(ngModel)]="userAccount.userTipoConta" required name="userTipoConta">
                <option value="Conta Corrente">Conta Corrente</option>
                <option value="Conta Poupança">Conta Poupança</option>

              </select>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="userAccount.userEmail" placeholder="Email" name="userEmail">
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="editarUsuario()" class="buttons">
        <i class="material-icons">
            save
        </i>
        Atualizar Conta
        </button>
        <button mat-raised-button (click)="cancel()" class="buttons">
            <i class="material-icons">
                cancel
            </i>
            Cancelar
        </button>
</mat-card>